@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@700&display=swap');

body {
    background-color: #284854;
    font-family: 'Nunito', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


header {
    color:#B8B8AA;
    filter: drop-shadow(2px 2px 4px #423b30);
}

div {
    width:800px; 
    margin:0 auto;
    padding: 45px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 3em;
    background-color: #8a8a82;
    filter: drop-shadow(10px 10px 4px #191a15);
}

table {
    font-size: 18px;
}

tr:nth-child(odd){
    background-color: #C1C1BD;
}

td {
    width: 150px;
}

button {
    min-height: 30px;
    min-width: 100px;
    border-radius: 1em;
    border-color: #78736b;
}

h1 {
    text-align: center;
}

h2 {
    font-size: 30px;
}

input {
    height: 25px;
    width: 100px;
    border-radius: .5em;
    font-weight: bold;
}

.tableHead {
    font-weight: bold;
}

.totalMonthly.exceedMonthlyLimit {
    color: red;
}


